/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 .widget-body-toolbar{
 	margin: 0 0 0 0;
 }

.search_field{
	display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: 300;
    color: #222;
    margin: 8px 1px;
}

.cust_img_thumb{
	border: 1px solid #ddd;
	margin: 0 1px;
	padding: 5px;
}

.h100{
	height: 150px;
}

.required .control-label:after {
  content:"*";color:red;
}

@media (max-width:991px) {
    .group_label {
        margin-top:10px;
    }
}
@media (min-width: 992px) {
    .group_label {
        margin-top:0px;
    }
}

.jarviswidget-color-blueDark .nav-tabs li:not(.active) a,.jarviswidget-color-blueDark>header>.jarviswidget-ctrls a {
    color: #818181!important;
}

@media (min-width: 0px){
	.page-title {
	    display: block;
	}
}