/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 .widget-body-toolbar{
 	margin: 0 0 0 0;
 }

.search-field{
	display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: 300;
    color: #222;
    margin: 8px 1px;
}

.cust-img-thumb{
	border: 1px solid #ddd;
	margin: 0 1px;
	padding: 5px;
}

.h100{
	height: 150px;
}

.required .control-label:after {
  content: "*";
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.text-red {
    color: red;
}

.font-weight-bold{
    font-weight: bold;
}

.cust-btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 18px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.cust-page-title {
    margin: 12px 0 8px;
}

.cust-page-title span:last-child {
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: 1px;
}

.between-input-group-btn {
	border-left: 0; 
	/*border-right: 0;*/
}

.between-input-group-label {
    background-color: #fff;
    border: 0;
}

#sparks {
    display: block;
    list-style: none;
    margin: 10px 0 0;
    padding: 12px 0 8px;
    text-align: right;
}

.dropzone {
    height: 250px;
    min-height: 0px !important;
}

@media (max-width:991px) {
    
    .between-control-label {
        margin-top:10px;
    }

    .group-label {
        margin-top:10px;
    }

    .search-field-button {
		margin-right:8px;
    }

    
}
@media (min-width: 992px) {
    .between-control-label {
        margin-top:0;
    }

    .group-label {
        margin-top:10px;
    }

    .search-field-first{
		margin-left:-8px;
	}
}

.jarviswidget-color-purple .nav-tabs li:not(.active) a,.jarviswidget-color-purple>header>.jarviswidget-ctrls a {
    color: #8b8a8c!important;
}

#logo{
	margin-top: 7px;
}

@media (max-width: 767px) {
    #content,#ribbon{
    	padding: 0 0 5px 0;
    }

    #ribbon{
    	border-bottom: 0;
    	border-top: 0;
    	padding-left: 15px;
    	background: #f0f0f0;
    }
}

@media (max-width: 479px) {
    .ribbon-span{
    	 font-size: 19px;
	}

	.cust-page-title span:last-child {
    font-size: 13px;
	}

	#sparks {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 15px;
        background: rgba(255,255,255,.15);
    }
}

.dashboard-info{
    padding-top: 10px;
}

.nav {
    background-color: #fff;/*eff0f0*/
}

.margin-left-m1{
    margin-left: -1px;
}

.display-initial{
    display: initial;
}

@media only screen and (max-width: 479px) and (min-width: 320px){
	#sparks {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 0px;
        background: rgba(255,255,255,.15);
    }
}
